* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #7F8C8D;
}
/* Style the header */
.header {
top:5px;
height:130px;
width:130px;
position: relative;
background-image: url("logo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 130px;
border: 2px solid gold;
box-shadow: 0px 2px 18px 3px black;
animation-name: change;
animation-delay: -0s;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-timing-function: ease;
animation-iteration-count: 1;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.p{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  background-color: #ddd;
  color: black;
  font-weight: 600;
}

/* Change color on hover */
.topnav a:hover {
  text-decoration: underline;
}
@keyframes change{
 from{
      margin-left: :-10px;
        
 }
 to{
     margin-left:685px;
 }
}
  .fnt{
    font-size: 19px;
    font-weight: 600;
  }
  hr{
    border-color: black;
    width: 50%;
  }
  h1{
    font-family: consolas;
  }
  h2{
    font-family:rockwell condensed;
  }