* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #cdcdcd;
}
/* Style the header */
.header {
top:5px;
height:130px;
margin: auto;
position: relative;
background-image: url("logo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
animation-name: change;
animation-delay: -0s;
animation-duration: 4s;
animation-fill-mode: forwards;
animation-timing-function: ease;
animation-iteration-count: 1;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #232323;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.p{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  background-color: #ddd;
  color: black;
  font-weight: 600;
}

/* Change color on hover */
.topnav a:hover {
  text-decoration: underline;
}

@keyframes change{
 from{
      width:100%;
        
     }
 to{
 	
    width:130px;
    border-radius: 130px;
    border: 2px solid gold;
    box-shadow: 0px 2px 18px 3px black;
   }
}
.h3{
  color: black;
  font-size: 30px;
  font-family: rockwell condensed;
}
div.gallery {
  margin: 10px;
  border: 1px solid black;
  float: left;
  width: 350px;
}

div.gallery:hover {
  border: 1px solid black;
  box-shadow: 0px 2px 18px 3px black;
}

div.gallery img {
  width: 100%;
  height: 180px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: black;
  font-weight: 700;
}
div.desc:hover {
  color: white;
}
marquee{
      font-size: 60px;
      color: black;
      font-family: Georgia;
      padding: 5px;
      }
div.mar{
  float: left;
}
.par{
  font-size: 30px;
  color: black;
  font-family: Georgia;
}
a{
  text-decoration: none;
}
.par:hover{
  font-weight: 600;

}
img:hover{
  box-shadow: 0px 2px 18px 3px black;
}   