body{
	background-color: grey;
}
hr{
	border-color: black;
}

.header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  font-family: Georgia;
  animation-name: pos;
  animation-delay: 1s;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

div.gallery {
  margin: 10px;
  border: 1px solid black;
  float: left;
  width: 350px;
}

div.gallery:hover {
  border: 1px solid black;
  box-shadow: 0px 2px 18px 3px black;
}

div.gallery img {
  width: 100%;
  height: 180px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: black;
  font-weight: 700;
}
div.desc:hover {
  color: white;
}
.checked {
  color: orange;
}
marquee{
      font-size: 35px;
      color: black;
      font-family: Georgia;
      padding: 5px;
      }
@keyframes pos{
 0%{
      color: black;
     }
 100%{
    color: white;
   } 
}
.par{
  font-size: 30px;
  color: black;
  font-family: Georgia;
}
a{
  text-decoration: none;
}
.par:hover{
  font-weight: 600;

}       