body{
  background-color: lightblue;
  animation-name: bgcolor;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
h1{
  text-align: center;
  font-family: "chiller";
  color: grey;
}
h2{
  text-align: center;
}
hr{
  width: 50%;
  border-color: black;
}
div.logo{
right:-685px;
height:130px;
width:130px;
position: relative;
background-image: url("logo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 130px;
border: 2px solid gold;
box-shadow: 0px 2px 18px 3px black;
animation-name: change;
animation-delay: -0s;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-timing-function: ease;
animation-iteration-count: 1;
}
input[type=text],[type=date],[type=password],[type=radio]{
  opacity: 0.5;
  padding: 2px 3px;
  border-radius: 4px;
  font-size: 18px;
}
input:hover{
	border-style: dotted;
	border-color: black;
}
select{
	opacity: 0.5;
	padding: 2px 3px;
	border-radius: 4px;
}
input[type=submit]{
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input:focus {
  background-color: black;
  color: white;
}
input[type=submit]:hover{
  background-color: black;
}
a{
  text-decoration: none;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}
@keyframes bgcolor{
	0%{
		background-color: lightblue;
	}
	50%{
		background-color: #e2d1c3;
	}
	100%{
		background-color: lightblue;
	}
}
@keyframes change{
 from{
      top: -300px;
        
 }
 to{
     top: 30px;
 }
}